.nav-item {
    background: #3b5998;
    margin-left: 1rem;
}

.nav-item:hover {
    background: #29487d;
}

.nav-link {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    justify-content: center;
    /* align-items: center; */
    padding: 1em 0 1em 0;
    background: #3b5998;
}

.active {
    background-color: #29487d;
}

.nav-link:hover {
    background: #29487d;
}

@media (max-width: 600px) {
    .nav-item {
        height: 45px;
        border-bottom: 1px solid #29487d;
        margin-left: 0;
    }
}