li {
    background: #3b5998;
    flex: 1;
}

li:hover {
    background: rgba(0,0,0,.1);
}

a {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    background: #3b5998;
}

.active {
    background-color: #29487d;
}

a:hover {
    background: rgba(0,0,0,.1);
}

@media (max-width: 600px) {
    a {
        height: 45px;
        border-bottom: 1px solid #29487d;
    }
}