nav {
    justify-content: space-between;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    background: #3b5998;
    border-bottom: 5px solid #29487d;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    .nav-items {
        height: auto;
        border-bottom: 0;
        display: block;
    }
}